.footer{
    width: 100%;
    height: 30vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
   font-size: 1.2vw;
   color: white;
}

.imgLogoFooter{
    font-size: 1.2vw;  
    position: relative;
    top: 5px;
    margin-left: 3px;
}


.marginResp{
    display: none;
 }


 .relativeBlock {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .imgStyle {
    margin-right: 70px;
    margin-bottom: 30px;
  }

  .footerP{
    padding-left: 45px;
  }

@media (max-width: 768px) {

    .footer{
        width: 100%;
        height: 30vh;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer p{
        font-size: 13px;
        color: white;
        margin-left: 20px;
     }
     .footer p span{
       display: none;
     }
     
     .imgLogoFooter{
         font-size: 10px;
         position: relative;
         top: 7px;
     }

     .imgResp{
      margin-right: 90px !important;
      margin-top: 80px;
     }

     .marginResp{
        display: flex;
        margin-top: 80px;
     }

     .relativeBlock {
        justify-content: center;
        display: flex;
        align-items: center;
        max-width: 100%;
      }

      .footerP{
        padding-left: 0px;
      }
     
}
  
  