.cards h1{
  
  border-bottom:3px solid aqua;
  font-size: 2vw;

}

.CardPresentation{
    width: 100%;
    height: auto;
    position: relative;
    top: -40vh;
    display: flex;
    justify-content: center;
}

.cards{
    width: 30%;
    
    height: auto;
    border: 1px solid rgb(191, 181, 181);
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding-top: 30px;
    flex-direction: column;
    padding-bottom: 40px;
}

.cards p{
  margin-top: 20px;
  text-align: center;
  font-size: 1.2vw;
  width: 85%;
}
.cards b{
    margin-top: 20px;
    border-bottom:2px solid aqua;
    font-size: 1.7vw;
    font-weight: 600;
  }

  .cards span{
    margin-top: 13px;
    font-size: 1.1vw;
  }


  @media (max-width: 1208px) {

    .CardPresentation{
     flex-direction: column;
     justify-content: center;
     align-items: center;

  }

  .cards{
    width: 85%;
}
}
  