@font-face {
  font-family: 'Averta';
  src: url('./font/AvertaDemoPECuttedDemo-Regular.otf')
}
   
   
   
   body{
        width: 100%;
        height: auto;
        margin: 0;
        background-color: #F5F5F5;
        font-family: Averta
    }
