.colaborations{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -37vh;
}

.division{
    width: 40%;
    height: 0px;
    border: 1px solid rgb(197, 191, 191);
    border-radius: 3px;
    margin-top: 16vh;
}

.colaborations h3{
   font-size: 2.3vw;
   font-weight: 700;
   color: rgb(23, 22, 22);
   text-align: center;
   margin-top: 18vh;
}

.DivImgs{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 5vh;
    
    padding-bottom: 10vh;
}

.imgDESKTOP2{
    width:auto;
    height: 18vh;
}

.imgDESKTOP3{
    width:auto;
    height: 12vh;
}






@media (max-width: 900px) {

    
.division{
    width: 90%;
    height: 0px;
    border: 1px solid rgb(197, 191, 191);
    border-radius: 3px;
    margin-top: -27vh;
}

    .colaborations h3{
        font-size: 14px;
        margin-top: 10vh;
      
     }

    .DivImgs{
        flex-direction: column;
    }

    .imgDESKTOP2{
        width:auto;
        height: 16vh;
        margin-top: 7vh;
    }

    .imgDESKTOP3{
        width:auto;
        height: 10vh;
        margin-top: 7vh;
    }
}
  


